*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  font-size: 62.5%;
  font-family: Arial, sans-serif;
}

.main{
  margin: 2rem auto;
  max-width: 40rem;
  border-radius: 0.4rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
